{% extends 'base.html' %}

{% block title %}Eğitimler - Bil Koleji{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded shadow">
  <h2>Eğitimlerimiz</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">İlkokul</li>
    <li class="list-group-item">Ortaokul</li>
    <li class="list-group-item">Anadolu Lisesi</li>
    <li class="list-group-item">Fen Lisesi</li>
    <li class="list-group-item">Teknoloji ve Yazılım Kulüpleri</li>
  </ul>
</div>
{% endblock %}
