{% extends 'base.html' %}

{% block title %}Duyurular - Bil Koleji{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded shadow">
  <h2>Güncel Duyurular</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">2025-07-01: Yaz Okulu kayıtları başladı.</li>
    <li class="list-group-item">2025-06-15: Yeni laboratuvarımız hizmete açıldı.</li>
    <li class="list-group-item">2025-05-20: Okul bahçesine yeni spor alanları eklendi.</li>
  </ul>
</div>
{% endblock %}
